div.content__main {
    align-items:flex-start;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width: 60em;
    margin: 1.5em auto;
    min-width: 20em;
}

div.exercise {
    border-radius: 0.25em;
    background-color: var(--fg);
    height: auto;
    margin: 1em;
    min-width: 7em;
    padding: 1em;
}
