@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

:root {
  --bg: #C7EFCF;
  --fg: #FFEBEE;
}

#root, body {
  height: 100vh;
  width: 100vw;
}

