div.content__main {
    align-items:flex-start;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width: 60em;
    margin: 1.5em auto;
    min-width: 20em;
}

div.exercise {

    height: auto;
    margin: 1em;
    min-width: 7em;

}
div.exercise__header {
    background-color: var(--fg);
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    padding: 1em;
}

div.exercise__options {
    background-color: #fff;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    padding: 1em;
}
